// src/styles/app.scss  
// импортируется в src/routes/+layout.svelte

@use '_reset.scss';
@use "_typography.scss";
@use "_variables.scss";
@use '_layout.scss';

// Устанавливаются глобальные стили 

html {
  scroll-behavior: smooth;
}

body {
  background: $clr-bg;
}

a {
  // .btn__interface - убрать синий прямоугольник (tap highlight) и другие мобильные эффекты при нажатии
  // 1. Убираем синий прямоугольник на iOS и Android (Chrome/Safari)
  -webkit-tap-highlight-color: transparent;

  // 2. Убираем рамку фокуса, которая может появляться после клика
  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  // 3. Отключаем контекстное меню при долгом нажатии (если нужно)
  // Это предотвратит всплывающее окно "Открыть в новой вкладке" на мобилках
  -webkit-touch-callout: none;
}

/* Fraction Дроби.Скрытие технических маркеров смешанных чисел и сложных скобок */
.fraction-marker,
.complex-bracket-marker {
  display: inline-block;
  width: 0;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  letter-spacing: -1ch;
}